commands:
  npm_install:
    command: sudo yum -y --enablerepo=epel install nodejs npm
  npm_install_bower:
    command: sudo npm install -g bower
container_commands:
  00_makemigrations:
    command: "python manage.py migrate --fake"
    leader_only: true
  01_bower:
    command: sudo bower install --allow-root
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "wwtracker_app.settings.settings"
    PYTHONPATH: "/opt/python/current/app/wwtracker_app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "wwtracker_app/wsgi.py"
packages:
  yum:
    postgresql92-devel: []