<!doctype html>

<html lang="en" ng-app="wwtracker">
<head>
  <meta charset="utf-8">

  <title>Water Weather Tracker</title>
  <meta name="description" content="">
  <meta name="author" content="github.com/nokane">
  <link rel="shortcut icon" type="image/png" href="http://www.aquatreat.eu/img/favicon.png"/>
  {% include 'style.html' %}
</head>

<body>
  {% include 'navigation.html' %}
<h1 id="head-title">Water Weather Tracker</h1>
<div class="container">
  {% include 'about.html' %}
  <div ui-view id="asset-container"></div>
</div>
</body>
  {% include 'javascript.html' %}
</html>