{% load compress %}
{% load staticfiles %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-bootstrap/ui-bootstrap-csp.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-dialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-dialog/css/ngDialog-theme-default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-chart.js/dist/angular-chart.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}" />
{% endcompress %}