#map {
  height: 300px;
  width: 400px;
  text-align: center;
  display: inline-block;
}

#state-container {
  display: inline-block;
  height: 550px;
  width: 204px;
  vertical-align: top;
  overflow: auto;
}

#map-container {
  border: 2px solid red;
  display: inline-block;
  width: 404px;
  height: 550px;
  position: relative;
}

#state-list {
  text-align: center;
}

#details-container {
  height: 550px;
  width: 500px;
  vertical-align: top;
  border: 2px solid blue;
  display: inline-block;
}

#list-title {
  font-size: 1.2em;
  padding-left: 9px;
  padding-bottom: 10px;
}

#single-button {
  font-size:1.25em;
}
#state-dropdown {
  z-index: 1;
  max-height: 240px;
  overflow-y: scroll;
  list-style: none;
} 

#river-menu {
  padding-left: 0px;
}

#state-list {
  height: 60px;
}

.river-name {
  list-style: none;
}

#water-list {
  height: 445px;
  width: 200px;
  overflow: auto;
  vertical-align: top;
  margin-top: 15px;
}