#map {
  height: 300px;
  width: 400px;
  text-align: center;
  display: inline-block;
}

.dropdown-scroll {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#state-container {
  border: 2px solid black;
  display: inline-block;
  height: 550px;
  width: 200px;
  vertical-align: top;
  overflow: auto;
}

#map-container {
  border: 2px solid red;
  display: inline-block;
  width: 404px;
  height: 550px;
  position: relative;
}

#state-list {
  text-align: center;
}

#details-container {
  height: 550px;
  width: 500px;
  vertical-align: top;
  border: 2px solid blue;
  display: inline-block;
}

#water-list {

}