<div id="water-details">
  <div id="title">
    <span id="headline" class="block">Water Measurement and Weather Report for: </span>
    <span id="title-name" class="block">{{waterbody.name}}</div>
  </div>
    <div id="current-measure">
      <span class="label-value"> Water flow: </span><span class="value-bold"> {{recent.value}} cfs</span>
      <div id="date">
        <span> (Water measurement recorded on {{recent.measured_at}})</span>
      </div>
    </div>
  </div>
  <div id="weather-details" weatherdetails weather="weather"></div>
  <span id="graph-title">Historical Water Flow Measurements</span>
  <!-- <h3>Historical Water Flow Measurements</h3> -->
  <div id="line-graph">
    <canvas id="line" class="chart chart-line" chart-data="graph.data" chart-labels="graph.labels" chart-legend="true" chart-series="graph.series" chart-click="onClick" chart-options="graph.options" >
    </canvas> 
  </div>
<div>